*,
::after,
::before {
  box-sizing: border-box;
  border: 1px slid;
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 1.2em;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

@media (min-width: 768px) {
  .navbar {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .navbar-link {
    padding-right: 0.5rem;
    padding-right: 0.5rem;
  }
  .facility-img {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .facility-text {
    flex: 0 0 40%;
    max-width: 40%;
  }

  footer p   {
      font-size: 1.2em;
  }
}

.brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

span {
  height: 0.4em;
  width: 0.4em;
  background-color: red;
  border-radius: 100%;
  display: inline-block;
  margin-left: 5px;
}

.navbar-nav {
  margin-left: auto;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-link {
  display: block;
  padding: 0.5rem 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-image: url(images/hero.jpg);
  background-size: cover;
  background-color: rgba(104, 44, 44, 0.377);
}

.opacity {
  background-color: #000000aa;
}

header h1 {
  text-align: center;
  padding: 0.5em 2em 2em;
}
header {
  color: #e5e5e5;
}

.facility-cont {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10%;
  height: 100vh;
}

.facility-img {
  position: relative;
  width: 100%;
  padding: 20%;
}

.images {
  position: relative;
}
.facility-text {
  position: relative;
  width: 100%;
}

.text {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}
.text h2:hover::after {
  width: 100%;
}
.text h2::after {
  content: "";
  display: block;
  background: #F8885A;
  width: 50%;
  height: 3px;
  margin: 5px 0 0;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

.facility-cont img {
  width: 100%;
}

.facility-cont.right .facility-img img:last-child {
  border-left: solid 20px;
  border-top: solid 20px;
  border-color: #ffffff;

  position: absolute;
  top: 10%;
  left: 10%;
}

.facility-cont.left .facility-img img:last-child {
  border-right: solid 20px;
  border-top: solid 20px;
  border-color: #fbbb5a;

  position: absolute;
  top: 10%;
  left: -10%;
}
.slanted {
  z-index: 1;
  position: relative;
}

.slanted.middle {
  background-color: #fbbb5a;
}

.slanted::before,
.slanted::after {
  background: inherit;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  /* // for Chrome Windows */
}

.slanted.slanted-bottom::after {
  bottom: 0;
  transform: skewY(3deg);
  transform-origin: 0%;
  height: 20%;
}

.slanted.slanted-top::before {
  top: 0;
  transform: skewY(3deg);
  transform-origin: 100% 0;
  height: 20%;
}

.cta {
  align-items: center;
  text-align: center;
background-image: url(images/footer\ img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.cta .opacity {
  padding: 6em;
}

.cta button {
  padding: 20px 40px;
  border: 0;
  background-color: #eb4501;
  color: #ffffff;
  font-size: 1em;
}

.cta p {
  margin-bottom: 4em;
  font-size: 1em;
  width: 80%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  font-size: 0.75em;
  padding: 2em;
}

footer div {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #e5e5e5;
}

i.fab + * {
  margin-left: 20px;
}
