body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    height: 75px;
    padding: 0 100px;
    z-index: 25;
}

nav .logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.main-nav {
    display: flex;
}

.main-nav li {
    list-style-type: none;
}

.main-nav li a {
    font-size: 18px;
    display: inline-block;
    margin-left: 56px;
    text-decoration: none;
    color: #fff;
}

.main-nav li:first-child a {
    margin-left: 0px;
}

#hero {
    background-image: url(../images/hero\ image.jpg);
    background-size: cover;
    background-repeat: none;
    height: 620px;
    margin-top: -75px;
}

.background-overlay {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.63);
}

.hero-content {
    padding: 200px 100px 0;
    width: 592px;
    color: #FCFCFC;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 0px;
    padding-bottom: 0;
}

.hero-content h1 {
    font-size: 48px;
    text-transform: capitalize;
    line-height: 72px;
    padding-top: 0px;
    margin-top: 14px;
}

#tour {
    padding: 0 100px;
}

#inner-tour {
    display: flex;
    justify-content: space-between;
}

#inner-tour .input-box {
    background-color: #33373D;
    display: table;
    width: 100%;
    margin-right: 15px;
    margin-top: -78px;
    box-sizing: border-box;
    height: 152px;
    z-index: 200;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.5);
}

#inner-tour .input-box:last-child {
    background: linear-gradient(180deg, #F8885A 0%, #EB4501 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#inner-tour .input-box:last-child:after {
    content: url(../images/next.png);
    margin-left: 18px;
}

#inner-tour .input-box .box-content {
    width: 80%;
    margin: 0 auto;
    padding-top: 20%;
}

#inner-tour .input-box label {
    color: #fff;
    /* text-align: left; */
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    align-content: flex-start;
}

#inner-tour .input-box input {
    background: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #F8885A;
}

#inner-tour .input-box:last-child input {
    color: #fff;
}

#inner-tour .input-box input:focus {
    border: none;
    outline: none;
}

#inner-tour .input-box select {
    background: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #F8885A;
    width: 100%;
}

#inner-tour .input-box select:focus {
    border: none;
    outline: none;
}

#about-us {
    position: relative;
}

#about-us .inner-content, #rooms .inner-content, #facilities .inner-content {
    padding: 100px 100px 0px;
}

#about-us .inner-content h4, #rooms .inner-content h4, #facilities .inner-content h4 {
    font-size: 24px;
    font-weight: 600;
}

#about-us .inner-content h4:after, #rooms .inner-content h4:after, #facilities .inner-content h4:after {
    content: ' ';
    width: 55px;
    height: 3px;
    display: block;
    background-color: #EB4501;
}

#about-us .inner-content h2, #rooms .inner-content h2, #facilities .inner-content h2 {
    font-size: 48px;
    margin-top: 20px;
}

#about-us .inner-content .about-us-content {
    display: flex;
    margin-top: 100px;
    align-items: center;
}

#about-us .inner-content .about-us-content img {
    height: 459px;
    width: 461px;
    object-fit: cover;
}

#about-us .inner-content .about-us-content .sub-content {
    width: 431px;
    margin-left: 128px;
}

#about-us .inner-content .about-us-content .sub-content p {
    color: rgba(0, 0, 0, 0.56);
    font-size: 20px;
}

#about-us .inner-content .about-us-content .sub-content a, #rooms .inner-content a {
    font-size: 24px;
    color: #EB4501;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
}

#about-us .inner-content .about-us-content .sub-content a:after, #rooms .inner-content a:after {
    content: url(../images/next-white.png);
    margin-left: 18px;
}

#about-us .inner-content .about-us-content .sub-content a:before, #rooms .inner-content a:before {
    content: ' ';
    height: 3.5px;
    width: 120px;
    margin-bottom: 6px;
    background-color: #EB4501;
    display: inline-block;
    margin-right: 20px;
}

#about-us .watermark-tag {
    display: inline-block;
    position: absolute;
    z-index: 1000;
    top: 50%;
    /* line-height: 0px; */
    right: -200px;
    transform: rotate(-90deg);
    font-weight: bold;
    font-size: 150px;
    color: rgba(51, 55, 61, 0.15);
}

#rooms {
    position: relative;
}

#rooms .watermark-tag {
    display: inline-block;
    position: absolute;
    z-index: 1000;
    bottom: 20%;
    left: -110px;
    transform: rotate(-90deg);
    font-weight: bold;
    font-size: 150px;
    color: rgba(51, 55, 61, 0.15);
}

#rooms .inner-content a {
    margin-top: 70px;
    display: block;
    text-align: right;
    margin-right: -40px;
}

#rooms .inner-content .room-gallery {
    display: flex;
    margin-top: 100px;
}

#rooms .inner-content .room-gallery .luxury-room {
    margin-left: 130px;
    position: relative;
}

#rooms .inner-content .room-gallery .deluxe-room, #rooms .inner-content .room-gallery .standard-room {
    position: relative;
}

#rooms .inner-content .room-gallery .standard-room {
    margin-top: 95px;
}

#rooms .inner-content .room-gallery .deluxe-room .overlay, #rooms .inner-content .room-gallery .standard-room .overlay {
    width: 100%;
    height: 390px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.63);
}

#rooms .inner-content .room-gallery .luxury-room p, #rooms .inner-content .room-gallery .deluxe-room p, #rooms .inner-content .room-gallery .standard-room p {
    position: relative;
    margin-top: -120px;
    left: 50px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    z-index: 150;
}

#rooms .inner-content .room-gallery .luxury-room p span, #rooms .inner-content .room-gallery .deluxe-room p span, #rooms .inner-content .room-gallery .standard-room p span {
    display: block;
}

#rooms .inner-content .room-gallery .room-group {
    margin-left: 50px;
}

#rooms .inner-content .room-gallery .luxury-room img {
    width: 500px;
    height: 834px;
    object-fit: cover;
}

#rooms .inner-content .room-gallery .luxury-room .overlay {
    width: 100%;
    height: 834px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.63);
}

#rooms .inner-content .room-gallery .deluxe-room img, #rooms .inner-content .room-gallery .standard-room img {
    width: 468px;
    height: 390px;
    object-fit: cover;
}

#facilities .inner-content .facilities-group {
    display: flex;
}

#facilities .inner-content .facilities-group .facility img {
    width: 390px;
    height: 845px;
    object-fit: cover;
}

