body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    height: 75px;
    padding: 0 100px;
    z-index: 25;
}

nav .logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.main-nav {
    display: flex;
}

.main-nav li {
    list-style-type: none;
}

.main-nav li a {
    font-size: 18px;
    display: inline-block;
    margin-left: 56px;
    text-decoration: none;
    color: #fff;
}

.main-nav li:first-child a {
    margin-left: 0px;
}

#hero {
    background-image: url(../images/hero\ image.jpg);
    background-size: cover;
    background-repeat: none;
    height: 400px;
    margin-top: -75px;
}

.background-overlay {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.63);
}

.hero-content {
    padding: 200px 100px 0;
    color: #FCFCFC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 0px;
    padding-bottom: 0;
    font-weight: 400;
}

.hero-content h1 {
    font-size: 48px;
    text-transform: capitalize;
    padding-top: 0px;
    margin: 0;
}

/* contact form */

.contact-form {
    padding: 50px 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
}

.contacts {
    border: 1px solid red;
    padding: 2rem;
}

.icon-group {
    display: flex;
}

.icon-group 

.form {
    border: 1px solid red;
    padding: 2rem;
}


/* footer style */

#sub-footer {
    height: 500px;
    background-image: url(../images/footer\ img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 200px;
}

#sub-footer .background-overlay {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.69)
}

#sub-footer .background-overlay .inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sub-footer h2 {
    font-size: 36px;
    color: #fff;
    text-align: center;
}

#sub-footer p {
    font-size: 18px;
    color: #fff;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#sub-footer button {
    margin-top: 50px;
    padding: 23px 46px;
    font-size: 18px;
    background: linear-gradient(180deg, #F8885A 0%, #EB4501 100%);
    color: #fff;
    cursor: pointer;
    border: none;
}

footer .inner-content {
    padding: 0 100px;
}

footer .inner-content  hr {
    border: 2px solid rgba(0,0,0, 0.12);
    margin-top: 40px;
}

footer .inner-content .major-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .inner-content .major-footer .footer-logo {
    color: #F8885A;
    font-size: 24px;
    font-weight: bold;
}

footer .inner-content .major-footer .copyright {
    font-size: 18px;
    font-weight: 600;
}

footer .inner-content .major-footer ul {
    display: flex;
    list-style-type: none;
}

footer .inner-content .major-footer ul li {
    margin-right: 30px;
}
