@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    margin:0;
    box-sizing:border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    height: 75px;
    padding: 0 100px;
    z-index: 25;
}

nav .logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

nav .logo a span {
    font-size: 50px;
    color: #F8885A;
    display: inline-block;
    margin-left: 5px;
    line-height: 0;
}

.main-nav {
    display: flex;
}

.main-nav li {
    list-style-type: none;
}

.main-nav li a {
    font-size: 18px;
    display: inline-block;
    margin-left: 56px;
    text-decoration: none;
    color: #fff;
}

.active-menu:after {
    content: ' ';
    height: 3px;
    width: 56px;
    background-color: #F8885A;
    display: block;
    margin: 0 auto;
}

.main-nav li:first-child a {
    margin-left: 0px;
}

#hero {
    background-image: url(../images/hero\ image.jpg);
    background-size: cover;
    background-repeat: none;
    height: 620px;
    margin-top: -75px;
}

.background-overlay {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.63);
}

.hero-content {
    padding: 200px 100px 0;
    width: 800px;
    color: #FCFCFC;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 0px;
    padding-bottom: 0;
}

.hero-content h1 {
    font-size: 48px;
    text-transform: capitalize;
    line-height: 72px;
    padding-top: 0px;
    margin-top: 14px;
}

#hero-rooms, #hero-facilities, #hero-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.63)),url("../images/hero\ image.jpg");  
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 348px;
}

#hero-rooms .inner-content, #hero-facilities .inner-content, #hero-contact .inner-content {
    padding: 0 100px;
}

#hero-rooms .inner-content h2, #hero-facilities .inner-content h2, #hero-contact .inner-content h2 {
    margin-top:-75px;
    text-align:center;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #FCFCFC;
    padding-top: 170px;
}

#hero-contact .inner-content p {
    color: #fff;
    font-size: 24px;
    margin-top: 6px;
    text-align: center;
}

#tour {
    padding: 0 100px;
}

#inner-tour {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

#inner-tour .input-box {
    background-color: #33373D;
    display: table;
    width: 100%;
    margin-right: 15px;
    margin-top: -78px;
    box-sizing: border-box;
    height: 152px;
    z-index: 200;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.5);
}

#inner-tour .input-box:last-child {
    background: linear-gradient(180deg, #F8885A 0%, #EB4501 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#inner-tour .input-box:last-child:after {
    content: url(../images/next.png);
    margin-left: 18px;
}

#inner-tour .input-box .box-content {
    width: 85%;
    margin: 0 auto;
    padding-top: 28%;
    position: relative;
}

#inner-tour .input-box label {
    color: #fff;
    /* text-align: left; */
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    /* align-content: flex-start; */
    position: absolute;
    top: 55px;
    line-height: 20px;
}

#inner-tour .input-box input {
    background: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgba(248, 136, 90, 0);
    display: block;
}

#inner-tour .input-box input[type="submit"] {
    cursor: pointer;
}

#inner-tour .input-box input[type='date'] {
    width: 100%;
}

#inner-tour .input-box .formatted-check-in-date, #inner-tour .input-box .formatted-check-out-date {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgb(248, 136, 90);
    position: absolute;
    top: 70%;
}

#inner-tour .input-box:last-child input {
    color: #fff;
}

#inner-tour .input-box input:focus {
    border: none;
    outline: none;
}

#inner-tour .input-box select {
    background: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #F8885A;
    width: 100%;
    /* padding-left: 10px; */
    background: url(../images/dropdown.svg); 
    background-repeat: no-repeat;
    background-size: 1.2rem auto, 100%;
    background-position: right 5px top 50%, 0 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

#inner-tour .input-box select:focus {
    border: none;
    outline: none;
}

#inner-tour .input-box input::-webkit-calendar-picker-indicator { 
    background: url(../images/dropdown.svg); 
    background-repeat: no-repeat;
    background-size: 1.2rem auto, 100%;
    background-position: right 4px top 50%, 0 0;
    outline: none;
}

#about-us {
    position: relative;
}

#about-us .inner-content, #rooms .inner-content, #facilities .inner-content, #testimonials .inner-content {
    padding: 100px 100px 0px;
}

#about-us .inner-content h4, #rooms .inner-content h4, #facilities .inner-content h4, #testimonials .inner-content h4 {
    font-size: 20px;
    font-weight: 600;
}

#about-us .inner-content h4:after, #rooms .inner-content h4:after, #facilities .inner-content h4:after, #testimonials .inner-content h4:after {
    content: ' ';
    width: 55px;
    height: 3px;
    display: block;
    background-color: #EB4501;
}

#about-us .inner-content h2, #rooms .inner-content h2, #facilities .inner-content h2, #testimonials .inner-content h2 {
    font-size: 40px;
    margin-top: 20px;
}

#about-us .inner-content .about-us-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    align-items: center;
}

#about-us .inner-content .about-us-content img {
    height: 459px;
    width: 461px;
    object-fit: cover;
}

#about-us .inner-content .about-us-content .sub-content {
    width: 431px;
    margin-left: 128px;
}

#about-us .inner-content .about-us-content .sub-content p {
    color: rgba(0, 0, 0, 0.56);
    font-size: 18px;
}

#about-us .inner-content .about-us-content .sub-content a, #rooms .inner-content a, #facilities .inner-content a {
    font-size: 20px;
    color: #EB4501;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    margin-top: 60px;
}

#about-us .inner-content .about-us-content .sub-content a:after, #rooms .inner-content a:after, #facilities .inner-content a:after {
    content: url(../images/next-white.png);
    margin-left: 18px;
}

#about-us .inner-content .about-us-content .sub-content a:before, #rooms .inner-content a:before, #facilities .inner-content a:before {
    content: ' ';
    height: 3.5px;
    width: 120px;
    margin-bottom: 6px;
    background-color: #EB4501;
    display: inline-block;
    margin-right: 20px;
}

#about-us .watermark-tag {
    display: inline-block;
    position: absolute;
    z-index: 1000;
    top: 50%;
    /* line-height: 0px; */
    right: -200px;
    transform: rotate(-90deg);
    font-weight: bold;
    font-size: 150px;
    color: rgba(51, 55, 61, 0.15);
}

#rooms {
    position: relative;
    background-color:rgb(255, 243, 238);
    margin-top: 200px;
    padding-top: 0;
}

#rooms .inner-content {
    padding-top: 0;
}

#rooms:before, .deluxe-room-page:before {
    top: 0px;
    transform: skewY(6deg);
    transform-origin: 100% 0;
    height: 20%;
    background-color:rgb(255, 243, 238);
}

#rooms:after, .deluxe-room-page:after {
    bottom: 0;
    transform: skewY(6deg);
    transform-origin: 0%;
    height: 20%;
    background-color:rgb(255, 243, 238);
}

#rooms::before, #rooms::after, .deluxe-room-page:after, .deluxe-room-page:before {
    /* background: inherit; */
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    /* -webkit-backface-visibility: hidden; */
}

#rooms .slider-indicators, #facilities .slider-indicators {
    display: none;
}

#rooms .watermark-tag {
    display: inline-block;
    position: absolute;
    z-index: 1000;
    bottom: 20%;
    left: -110px;
    transform: rotate(-90deg);
    font-weight: bold;
    font-size: 150px;
    color: rgba(51, 55, 61, 0.15);
}

#rooms .inner-content a, #facilities .inner-content a {
    margin-top: 70px;
    display: block;
    text-align: right;
    margin-right: -40px;
}

#rooms .inner-content .room-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

#rooms .inner-content .room-gallery-mobile, #facilities .inner-content .facilities-group-mobile {
    display: none;
}

#rooms .inner-content .room-gallery .luxury-room {
    margin-left: 130px;
    position: relative;
}

#rooms .inner-content .suites-link {
    margin-top: 120px;
}

#rooms .inner-content .room-gallery .deluxe-room, #rooms .inner-content .room-gallery .standard-room {
    position: relative;
}

#rooms .inner-content .room-gallery .standard-room {
    margin-top: 95px;
}

#rooms .inner-content .room-gallery .deluxe-room .overlay, #rooms .inner-content .room-gallery .standard-room .overlay {
    width: 100%;
    height: 390px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.63);
}

#rooms .inner-content .room-gallery .luxury-room p, #rooms .inner-content .room-gallery .deluxe-room p, #rooms .inner-content .room-gallery .standard-room p {
    position: relative;
    margin-top: -120px;
    left: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    z-index: 150;
}

#rooms .inner-content .room-gallery .luxury-room p span, #rooms .inner-content .room-gallery .deluxe-room p span, #rooms .inner-content .room-gallery .standard-room p span {
    display: block;
}

#rooms .inner-content .room-gallery .room-group {
    margin-left: 50px;
}

#rooms .inner-content .room-gallery .luxury-room img {
    width: 500px;
    height: 834px;
    object-fit: cover;
}

#rooms .inner-content .room-gallery .luxury-room .overlay {
    width: 100%;
    height: 834px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.63);
}

#rooms .inner-content .room-gallery .deluxe-room img, #rooms .inner-content .room-gallery .standard-room img {
    width: 468px;
    height: 390px;
    object-fit: cover;
}

#facilities .inner-content .facilities-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 100px;
}

#facilities .inner-content .facilities-group .facility {
    position: relative;
}

#facilities .inner-content .facilities-group .facility .overlay {
    width: 100%;
    height: 815px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.63);
}

#facilities .inner-content .facilities-group .facility:first-child .overlay {
    height: 915px;
}

#facilities .inner-content .facilities-group .facility:first-child {
    flex-basis: 30%;
}

#facilities .inner-content .facilities-group .facility:nth-child(2) {
    flex-basis: 33%;
}
#facilities .inner-content .facilities-group .facility:nth-child(3) {
    flex-basis: 32%;
}

#facilities .inner-content .facilities-group .facility:first-child img {
    width: 100%;
    height: 915px;
    object-fit: cover;
    margin-left: 2px;
}

#facilities .inner-content .facilities-group .facility:nth-child(2) img {
    width: 409px;
    height: 815px;
    object-fit: cover;
    margin-left: 2px;
}

#facilities .inner-content .facilities-group .facility:nth-child(3) img {
    width: 372px;
    height: 815px;
    object-fit: cover;
    margin-left: 2px;
}

#facilities .inner-content .facilities-group .facility p {
    position: absolute;
    top: 0;
    right: 7px;
    color: #fff;
    z-index: 150;
    margin-top: 40px;
    font-size: 20px;
}

#facilities .inner-content .facilities-group .facility p:after {
    content: ' ';
    width: 126px;
    height: 3px;
    display: block;
    background-color: #EB4501;
}

#testimonials .inner-content .testimonials-group {
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: 100px;
}

#testimonials .inner-content .testimonials-group .testimonial {
    flex-basis: 33%;
    box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px 14px;
    background-color: #fff;
    box-shadow: -3px 5px 20px rgba(0, 0, 0, 0.25);
    margin-right: 30px;
}

#testimonials .inner-content .testimonials-group .testimonial:nth-child(1), #testimonials .inner-content .testimonials-group .testimonial:nth-child(3) {
    position: relative;
    top: 70px;
}

#testimonials .inner-content .testimonials-group .testimonial h5 {
    font-size: 22px;
    color: rgba(51, 55, 61, 0.82);
    font-weight: 600;
    text-align: center;
    margin-top: 36px;
}

#testimonials .inner-content .testimonials-group .testimonial p {
    font-size: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 30px;
}

#testimonials .inner-content .testimonials-group .testimonial .personal-info p {
    margin-top: 0;
}

#testimonials .inner-content .testimonials-group .testimonial .personal-info {
    display: flex;
    margin-top: 32px;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

#testimonials .inner-content .testimonials-group .testimonial .personal-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

#testimonials .inner-content .testimonials-group .testimonial .personal-info p {
    color: #33373D;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px
}

#testimonials .inner-content .testimonials-group .testimonial .personal-info p small {
    display: block;
    text-align: left;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: normal;
}

#sub-footer {
    height: 500px;
    background-image: url(../images/footer\ img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 200px;
}

#sub-footer .background-overlay {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.69)
}

#sub-footer .background-overlay .inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sub-footer h2 {
    font-size: 32px;
    color: #fff;
    text-align: center;
}

#sub-footer p {
    font-size: 17px;
    color: #fff;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

#sub-footer button {
    margin-top: 50px;
    padding: 23px 46px;
    font-size: 17px;
    background: linear-gradient(180deg, #F8885A 0%, #EB4501 100%);
    color: #fff;
    cursor: pointer;
    border: none;
}

footer .inner-content {
    padding: 0 100px;
}

footer .inner-content  hr {
    border: 1px solid rgba(0,0,0, 0.12);
    margin-top: 40px;
}

footer .inner-content .major-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

footer .inner-content .major-footer .footer-logo {
    color: #F8885A;
    font-size: 24px;
    font-weight: bold;
}

footer .inner-content .major-footer .copyright {
    font-size: 16px;
    font-weight: 600;
}

footer .inner-content .major-footer ul {
    display: flex;
    list-style-type: none;
}

footer .inner-content .major-footer ul li {
    margin-right: 30px;
}

.burger-menu {
    display: none;
}

@media screen and (max-width: 600px) {
    nav {
        padding: 0 20px;
    }

    nav .main-nav {
        background: linear-gradient(180deg, #F8885A 0%, #EB4501 100%);
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 900;
        padding-inline-start: 0;
        margin: 0;
        text-align: center;
        padding-top: 28vh;
        transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transform: scale(0);
        visibility: hidden;
        opacity: 0;
    }

    .menu-popped {
        opacity: 1 !important;
        visibility: visible !important;
        transform: scale(1) !important;
    }

    .menu-popped li {
        opacity: 1 !important;
        transform: translateX(0) !important;
    }

    nav .main-nav li {
        padding: 8px 0;
        transition: all 400ms 510ms;
        opacity: 1;
    }

    nav .main-nav li:nth-child(odd) {
        transform: translateX(30%);
    }

    nav .main-nav li:nth-child(even) {
        transform: translateX(-30%);
    }

    nav .main-nav li a {
        margin-left: 0;
        font-size: 1.3rem;
    }

    .active-menu:after {
        content: none;
    }

    nav .logo a {
        font-size: 16px;
    }

    nav .logo a span {
        font-size: 36px;
        font-family: poppins;
    }

    nav .burger-menu {
        width: 20px;
        height: 20px;
        display: block;
        margin-top: 20px;
        z-index: 900;
    }
    nav .burger-menu .lines {
        background-color: #fff;
        height: 3px;
        display: block;
        transition: height 100ms;
    }

    .clicked .lines {
        height: 0px !important;
    }

    .clicked .lines:after{
        transform: rotate(45deg);
        top: -3px !important;
    }

    .clicked .lines:before {
        transform: rotate(-45deg);
        bottom: 0px !important;
    }

    nav .burger-menu .lines:after, nav .burger-menu .lines:before {
        content: ' ';
        background-color: #fff;
        height: 3px;
        display: block;
        position: relative;
        transition: all 200ms;
    }

    nav .burger-menu .lines:after {
        top: 4px;
    }

    nav .burger-menu .lines:before {
        bottom: 8px;
    }

    #hero {
        height: 360px;
    }

    .hero-content {
        padding: 140px 0px 0;
        color: #FCFCFC;
        width: 100%;
    }

    .hero-content p, .hero-content h1 {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        margin: 0px;
        line-height: 27px;
    }

    .hero-content p {
        font-size: 20px;
    }

    .hero-content h1 {
        font-weight: normal;
    }

    #hero-rooms, #hero-facilities, #hero-contact {
        height: 262px;
    }

    #hero-rooms .inner-content, #hero-facilities .inner-content, #hero-contact .inner-content {
        padding: 0 20px;
    }

    #hero-rooms .inner-content h2, #hero-facilities .inner-content h2, #hero-contact .inner-content h2 {
        font-size: 20px;
        padding-top: 110px;
    }

    #hero-contact .inner-content p {
        font-size: 18px;
        margin-top: -4px;
    }

    #inner-tour {
        background-color: #fff;
        box-sizing: border-box;
        margin-top: -90px;
        z-index: 10;
        position: relative;
        padding: 24px 30px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        flex-wrap: wrap;
    }

    #inner-tour .input-box {
        background: none;
        box-shadow: none;
        margin-top: 0;
        height: auto;
        margin-right: 0;
        width: 100%;
        display: block;
    }

    #inner-tour .input-box:last-child {
        background: none;
    }

    #inner-tour .input-box .box-content {
        padding-top: 12px;
        margin: 0;
        width: 100%;
        position: relative;
    }

    #inner-tour .input-box:last-child:after {
        content: none;
        margin: 0;
    }

    #inner-tour .input-box .formatted-check-in-date, #inner-tour .input-box .formatted-check-out-date {
        display: none;
    }

    #inner-tour .input-box:last-child {
        padding-top: 12px;
    }

    #inner-tour .input-box:last-child input {
        background: #F8885A;
    }

    #inner-tour .input-box label {
        color: rgba(0, 0, 0, 0.63);
        position: absolute;
        top: 25px;
        left: 16px;
    }

    #inner-tour .input-box input {
        background: rgba(196, 196, 196, 0.1);
        width: 100%;
        color: rgba(0, 0, 0, 0);
        font-size: 14px;
        font-weight: normal;
        padding: 10px 16px;
        box-sizing: border-box;
    }

    #inner-tour .input-box input::-webkit-calendar-picker-indicator { 
        background: url(../images/date.svg); 
        background-repeat: no-repeat;
    }

    #inner-tour .input-box input:focus ~ label {
        display: none;
    }

    #inner-tour .input-box select:focus ~ label {
        display: none;
    }

    #inner-tour .input-box input:hover ~ label {
        display: none;
    }

    #inner-tour .input-box input:focus, #inner-tour .input-box select:focus {
        color: rgba(0, 0, 0, 0.63);
    }

    #inner-tour .input-box select {
        background: rgba(196, 196, 196, 0.1);
        width: 100%;
        color: rgba(0, 0, 0, 0);
        font-size: 14px;
        font-weight: normal;
        padding: 10px 16px;
        box-sizing: border-box;
        background-image: url(../images/dropdown.svg);
        background-repeat: no-repeat;
        background-position: right 20px top 50%, 0 0;
        background-size: 1rem auto, 100%;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }

    #about-us, #rooms, #facilities, #testimonials {
        margin-top: 40px;
    }

    #about-us .inner-content .about-us-content {
        margin-top: 33px;
    }

    #about-us .inner-content .about-us-content img {
        width: 100%;
        height: 354px;
        object-fit: cover;
    }

    #tour {
        padding: 0 28px;
    }

    #about-us .inner-content, #rooms .inner-content, #facilities .inner-content, #testimonials .inner-content {
        padding: 30px 28px;
    }

    #rooms:before {
        top: 0;
    }
    
    #rooms:after {
        bottom: 0;
    }

    #rooms .watermark-tag, #about-us .watermark-tag {
        display: none;
    }

    #rooms .inner-content .room-gallery {
        display: none;
    }

    #facilities {
        position: relative;
    }

    #testimonials .inner-content {
        position: relative;
    }

    #rooms .inner-content .slider-indicators, #facilities .inner-content .slider-indicators, #testimonials .inner-content .slider-indicators {
        position: absolute;
        bottom: 55px;
        width: calc(100% - 40px);
        text-align: center;
    }

    #rooms .slider-indicators, #facilities .slider-indicators {
        display: block;
    }

    #testimonials .inner-content .slider-indicators {
        bottom: 10px;
    }

    #rooms .inner-content .slider-indicators > a, #facilities .inner-content .slider-indicators > a, #testimonials .inner-content .slider-indicators > a {
        display: inline-flex;
        width: .9rem;
        height: .9rem;
        background: rgba(0, 0, 0, 0.56);
        text-decoration: none;
        border-radius: 50%;
        margin: 0px 12px 0.5rem 0;
    }

    #rooms:after, .deluxe-room-page:after {
        bottom: -25px;
    }

    #rooms .inner-content .slider-indicators > a:active, #facilities .inner-content .slider-indicators > a:active, #testimonials .inner-content .slider-indicators > a:active {
        background: #EB4501;
    }

    #rooms .inner-content .slider-indicators  a.current-slide, #facilities .inner-content .slider-indicators 
    a.current-slide-2, #testimonials .inner-content .slider-indicators a.current-slide-3 {
        background: #EB4501 !important;
    }

    #rooms .inner-content .slider-indicators > a:after, #facilities .inner-content .slider-indicators > a:after {
        content: '';
    }

    #rooms .inner-content .suites-link {
        margin-top: 50px;
    }

    #rooms .inner-content .room-gallery-mobile, #facilities .inner-content .facilities-group-mobile, #testimonials .inner-content .testimonials-group {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }

    #testimonials .inner-content .testimonials-group::-webkit-scrollbar, #rooms .inner-content .room-gallery-mobile::-webkit-scrollbar, #facilities .inner-content .facilities-group-mobile::-webkit-scrollbar {
        display: none;
    }

    #rooms .inner-content .room-gallery-mobile > div, #facilities .inner-content .facilities-group-mobile .facility, #testimonials .inner-content .testimonials-group .testimonial {
        flex-shrink: 0;
        scroll-snap-align: start;
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        margin-right: 20px;
        width: 100%;
    }

    #about-us .inner-content h4:after, #rooms .inner-content h4:after, #facilities .inner-content h4:after, #testimonials .inner-content h4:after {
        margin-top: 5px;
    }

    #rooms .inner-content .room-gallery-mobile .luxury-room, #rooms .inner-content .room-gallery-mobile .deluxe-room, #rooms .inner-content .room-gallery-mobile .standard-room, #facilities .inner-content .facilities-group-mobile .facility {
        position: relative;
    }

    #rooms .inner-content .room-gallery-mobile img {
        height: 448px;
        width: 100%;
        object-fit: cover;
    }

    #rooms .inner-content .room-gallery-mobile .overlay, #facilities .inner-content .facilities-group-mobile .facility .overlay {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        height: 448px;
        width: 100%;
        top: 0;
        left: 0;
    }

    #rooms .inner-content .room-gallery-mobile p, #facilities .inner-content .facilities-group-mobile .facility p {
        position: absolute;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        bottom: 30px;
        left: 25px;
    }

    #rooms .inner-content .room-gallery-mobile p span {
        display: block;
    }

    #facilities .inner-content .facilities-group {
        display: none;
    }

    #facilities .inner-content .facilities-group-mobile .facility img {
        height: 449px;
        width: 100%;
        object-fit: cover;
    }

    #facilities .inner-content .facilities-group .facility:first-child img, #facilities .inner-content .facilities-group .facility:nth-child(2) img, #facilities .inner-content .facilities-group .facility:nth-child(3) img{
        max-width: 346px;
        height: 449px;
        object-fit: cover;
    }

    #testimonials .inner-content .testimonials-group {
        flex-wrap: nowrap;
        padding: 50px 10px;
        box-sizing: border-box;
        margin-top: 50px;
    }

    #testimonials .inner-content .testimonials-group .testimonial {
        flex-basis: unset;
        width: 100%;
        position: relative;
    }

    #testimonials .inner-content .testimonials-group .testimonial:nth-child(1), #testimonials .inner-content .testimonials-group .testimonial:nth-child(3) {
        top: 0;
    }

    #testimonials .inner-content .testimonials-group .testimonial h5 {
        font-size: 18px;
        margin-top: 50px;
    }

    #testimonials .inner-content .testimonials-group .testimonial p {
        font-size: 16px;
        margin-top: 30px;
    }

    #testimonials .inner-content .testimonials-group .testimonial .personal-info {
        display: block;
        text-align: center;
    }

    #testimonials .inner-content .testimonials-group .testimonial .personal-info img {
        position: absolute;
        top: -50px;
        left: 35%;
    }

    #testimonials .inner-content .testimonials-group .testimonial .personal-info p {
        margin-left: 0;
    }

    #testimonials .inner-content .testimonials-group .testimonial .personal-info p small {
        text-align: center;
        font-size: 14px;
    }

    #about-us .inner-content h4, #rooms .inner-content h4, #facilities .inner-content h4, #testimonials .inner-content h4 {
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
    }

    #about-us .inner-content h2, #rooms .inner-content h2, #facilities .inner-content h2, #testimonials .inner-content h2 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 54px;
    }

    #rooms .inner-content a, #facilities .inner-content a {
        margin-right: 0;
        margin-top: 50px;
    }

    #about-us .inner-content .about-us-content .sub-content {
        width: 100%;
        margin-left: 0px;
        margin-top: 15px;
    }

    #about-us .inner-content .about-us-content .sub-content p {
        font-size: 16px;
    }

    #about-us .inner-content .about-us-content .sub-content a, #rooms .inner-content a, #facilities .inner-content a {
        font-size: 18px;
    }    

    #about-us .inner-content .about-us-content .sub-content a:before, #rooms .inner-content a:before, #facilities .inner-content a:before {
        display: none;
    }

    #sub-footer {
        margin-top: 120px;
        height: 364px;
    }
    

    #sub-footer h2 {
        font-size: 24px;
        font-weight: 600;
        padding: 0 20px;
    }

    #sub-footer p {
        font-size: 14px;
        width: 80%;
    }

    #sub-footer button {
        font-size: 13px;
        padding: 11px 12px;
    }

    footer .inner-content {
        padding: 0 20px;
    }

    footer .inner-content hr, footer .inner-content .major-footer .footer-logo  {
        display: none;
    }

    footer .inner-content .major-footer .copyright {
        font-size: 14px;
        margin-bottom: 20px;
    }

    footer .inner-content .major-footer ul {
        padding-inline-start: 0;
        margin-bottom: 0;
    }

    footer .inner-content .major-footer ul li:last-child {
        margin-right: 0;
    }

    footer .inner-content .major-footer {
        flex-direction: column-reverse;
    }
}
