
body{
    font-family:"Poppins", sans-serif;
    overflow-x:hidden;
    width:100%;

}


.standard-room{
    position:relative;
    padding-left:102px;
    padding-right:102px;
    margin-top:135px;
    background-color: #FFFFFF;
    
    
}
.standard-bg {
    position:relative;
    top:0;
    left:0;
    background-image:url(../images/standard\ room.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 820px;
    height: 607px;
    
}
.standard-details, .luxurius-details{
    position: absolute;
    top:80px;
    right:63px;
    width: 576px;
    /* height: 450px; */
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
    padding: 40px 0 40px 45px;
    box-sizing: border-box;
}

.room-type{
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    /* line-height: 54px; */
    color: rgba(0, 0, 0, 0.9);
    margin-bottom:37px;
    font-weight: 600;

}
.room-type:after{
   
	content: '';
    width: 113px;
    height: 5px;
    display: block;
    background-color: #F8885A;
}
	

.room-description{
width: 483px;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 32px;
color: rgba(0, 0, 0, 0.6);
margin-bottom:40px;
}

.room-price{
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 50px;
    color: #F8885A;
    margin-bottom:15px;

}

.btn-book-now{
    width: 201px;
    height: 68px;
    background: linear-gradient(180deg, #F8885A 0%, #EB4501 100%);
    border:none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    cursor: pointer;
}

.deluxe-room-page {
    justify-content: right;
    position: relative;
    padding-right:63px;
    padding-left:102px;
    margin-top:170px;
    padding-top: 80px;
    height: 807px;
    background-color: rgb(255, 243, 238);
  }
.deluxe{
    width:1800.4px;
    /* width: 1622.4px; */
    height: 1067.27px;
    position: absolute;
    transform: rotate(7.87deg);
    background: rgba(248, 136, 90, 0.07);
    left: -100px;
    top:1414.26px;
 
}

.deluxe-details{
    
    position: absolute;
    background-color: aqua;
    left:102px;
    top:160px;
    width: 576px;
    /* height: 450px; */
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
    padding: 40px 0 40px 45px;
    z-index:1;
}

.deluxe-bg{
    position: absolute;
    background-image:url(../images/deluxe\ room.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 820px;
    height: 607px;
    margin:0;
    padding:0;
    right:63px; 
}

.luxurius-room{
    position:relative;
    padding-left:102px;
    padding-right:63px;
    margin-top:170px;
    background-color: #FFFFFF;
}

.luxurius-bg{
    position: relative;
    top:0;
    left:0;
    background-image:url(../images/luxury\ room.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 847px;
    height: 607px;   
}

@media screen and (max-width: 600px) {
    .standard-room,.luxurius-room,.deluxe-room-page{
        position:relative;
        display:flex;
        flex-flow:column;
        padding: 0 28px;
        margin-top:125px;
        background-color: #FFFFFF;
        height:525px;
        
    }
    .standard-bg,.deluxe-bg,.luxurius-bg{
        position: unset;
        width: 100%;
        height: 223px;
        
    }
    .deluxe-bg, .luxurius-bg{
        min-height: 223px;
    }
    .standard-details,.deluxe-details,.luxurius-details{
        position: static;        
        width: 100%;   
        
        box-shadow:none;
        border:none;
        background:none;
        padding: 0;
    }

    .room-type{
        position:absolute;
        top:-53px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;

        color: #33373D;
        margin-bottom:57px;
    
    }
    .room-type:after{
        content: '';
        width: 63px;
        height: 0px;
        border: 3px solid #F8885A;
    }
        
    
    .room-description{
    margin-top:78px;
    margin-bottom:12px;
    font-size: 18px;
    width:100%;
    height:108px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.6);
    
    padding:0;
    
    }

    .deluxe-room-page {
        flex-direction: column-reverse;
    }

    .room-price{
        position:absolute;
        width: 145px;
        height: 66px;
        text-align: center;
        left: 32%;
        top: 190px;
        padding:20px 12px 19px  12px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #F8885A;
        }

    /* .standard-room .room-price {
        top: 190px;
    } */

    .deluxe-room-page .room-price {
        top: 240px;
    }

    .btn-book-now{
    width: 149px;
    height: 51px;
    background: linear-gradient(180deg, #F8885A 0%, #EB4501 100%);
    border:none;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    }
    .deluxe-room-page:before {
        top: -60px !important;
        transform: skewY(6deg);
        transform-origin: 100% 0;
        height: 20%;
        background-color:rgb(255, 243, 238);
    }
    .deluxe-room-page {
        background-color:rgb(255, 243, 238);
        margin-top: 100px !important;
    }
}