*{
margin:0;
box-sizing:border-box;
}
body{
    font-family:"Poppins", sans-serif;
    
}
a,button{
    cursor: pointer;
}
.container{
    
    background-color: #FFFFFF;
}  
/* Header styling start */
header{
  background-image:linear-gradient(rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.63)),url("../images/hero\ image.jpg");  
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 348px;
  padding-left:102px;
  width:100%;
  padding-right:63px;
}
#logo-nav-wrapper{
    display:flex;
    justify-content:space-between;
    flex-flow: row;
}
#logo-nav-wrapper #logo{
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    line-height:36px;
    padding:0;
    margin-top:17px;
}
#logo-nav-wrapper #logo #dot{
font-size: 50px;
line-height: 75px;
color: #F8885A;
width: 15px;
height: 75px;
}
#logo-nav-wrapper a{
    text-decoration: none;
    font-weight: bold;
    
    color: #FFFFFF;
}
nav{
       margin-top:50px;
 }
nav ul{
    margin:0;
    padding:0;
    list-style-type: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
   
}
nav li{
   display:inline-block;
   margin-right:56px;
   padding:0;
    
}
nav li:last-child{
    margin-right:0;
}
 .burger-menu {
    display: none;
}
#room{
    position:relative;   
}
#room:after{
    content: '';
    width: 53px;
    height: 3px;
    display: block;
    background-color:#F8885A;
    position:absolute;
    left:6px;

}
nav li a{
    color: #FCFCFC;
    display:block;
    text-decoration: none;
}
#hero-title{
margin-top:95px;
text-align:center;
font-weight: bold;
font-size: 36px;
line-height: 54px;
color: #FCFCFC;
} /* Header styling ends */
/* Room styling start */
.standard-room, .deluxe-room, .luxurius-room{
    position:relative;
    padding-left:102px;
    padding-right:63px;
    margin-top:135px;    
    height: 807px;
    
}
.standard-bg{
    position: absolute;
    top:0;
    left:102px;
    background-image:url(../images/standard\ room.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 847px;
    height: 807px;
    
}
.standard-details{
    position: absolute;
    top:130px;
    right:63px;
    width: 576px;   
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
    padding: 46px 0 81px 65px;
}
.room-type{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom:57px;

}
.room-type:after{
   	content: '';
    width: 113px;
    height: 5px;
    display: block;
    background-color: #F8885A;
}
	
.room-description{
width: 483px;
height: 144px;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
color: rgba(0, 0, 0, 0.6);
margin-bottom:21px;
}
.room-price{
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 54px;
color: #F8885A;
margin-bottom:35px;

}
.btn-book-now{
width: 201px;
height: 68px;
background: linear-gradient(180deg, #F8885A 0%, #EB4501 100%);
border:none;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
color: #FFFFFF;
}

.deluxe-room, .luxurius-room{
  
 margin-top:275px; 
  
    }

.deluxe-room:after{
	content:"";
	display:table;
	clear:both;
}
/* Rotated background styling */
.deluxe{
    width:1800.4px;
    height: 1067.27px;
    position: absolute;
    transform: rotate(7.87deg);
    background: rgba(248, 136, 90, 0.07);
    left: -100px;
    top:1414.26px;
 
} /* Rotated background styling ends */

.deluxe-details{
    position: absolute;    
    left:102px;
    top:130px;
    width: 576px;
    height: 560px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
    padding: 46px 0 81px 65px;
    z-index:1;
}

.deluxe-bg{
    position: absolute;
    background-image:url(../images/deluxe\ room.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 847px;
    height: 807px;
   
    margin:0;
    padding:0;
   
    right:63px; 
}

.luxurius-details{
    position: absolute;
    top:130px;
    right:63px;
    width: 576px;
    height: 560px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
    padding: 46px 0 81px 65px;
  
}


.luxurius-bg{
    position: absolute;
    top:0;
    left:102px;
    background-image:url(../images/luxury\ room.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 847px;
    height: 807px;   
}
/* Call to action styling*/
.call-to-action{
    display:flex;
    flex-flow:row;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-top:413px;
    padding-top:143px;
    height: 542px;    
    background-image:linear-gradient( rgba(0, 0, 0, 0.69),rgba(0, 0, 0, 0.69)),url(../images/footer\ img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.call-to-action h2{

margin-bottom:18px;
width: 669px;
height: 56px;
font-family: "Poppins";
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 54px;
color: #FFFFFF;
}
.call-to-action p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    width: 520px;
    margin: 0 auto;
    height: 56px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.73);
    margin-bottom:50.54px;
}
.btn-cta{
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #FFFFFF;
width: 212px;
height: 75.09px;
background: linear-gradient(180deg, #F8885A 0%, #EB4501 100%);
}
/* footer styling starts */
footer{
    margin-top:58px;
    padding:0 94px 34px 101px;
    width:100%;
}
.footer-wrapper{
    padding-top:32px;
    border-top:2px solid rgba(0, 0, 0, 0.05);
    display: flex;
    flex-flow:row;
    justify-content: space-between;
}
#footer-home{
font-weight: bold;
font-size: 24px;
line-height: 36px;
color: #F8885A;
}
#copyright{
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
color: rgba(0, 0, 0, 0.5);
}
#footer-links ul{
margin:0;
padding:0;
list-style-type: none;
}
#footer-links li{
    display:inline-block;
    margin-right:29.53px;
    width:20px;
    height:20px;
    color: #F8885A;
}
#foot-links li:last-child{
    margin-right:0;
}
#footer-home a{
    text-decoration:none;
    color: #F8885A;
}
#footer-links li a{
    text-decoration: none;}

#footer-links li a img{
        width:20px;
        height:20px;
    }
   /*  footer styling ends */

@media screen and (max-width:415px){

    header{
        background-image:linear-gradient(rgba(0, 0, 0, 0.63),rgba(0, 0, 0, 0.63)),url("../images/hero\ image.jpg");  
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        height: 262px;
        padding-left:33px;
        width:100%;
        padding-right:36px;
      }
      #logo-nav-wrapper{
          display:flex;
          justify-content:space-between;
          flex-flow: row;
      }
      #logo-nav-wrapper #logo{
          
        font-weight: bold;
        color: #FFFFFF;          
        padding:0;        
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
      }
      #logo-nav-wrapper #logo #dot{
        color: #F8885A;       
        font-size: 36px;
        line-height: 54px;
      }
      
     /* nav styling start   */
      .main-nav{
          display:none;
      }
      /* nav styling ends */

      #hero-title{
      margin-top:64px;
       font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
      color: #FCFCFC;
      } 
      .standard-room,.luxurius-room,.deluxe-room{
        position:relative;
        display:flex;
        flex-flow:column;
        padding-left:33px;
        padding-right:36px;
        margin-top:125px;
        background-color: #FFFFFF;
        height:525px;
        
    }
    .standard-bg,.deluxe-bg,.luxurius-bg{
        position: static;
        width: 345px;
        height: 223px;
        
    }
    .deluxe-bg, .luxurius-bg{
        min-height: 223px;
    }
    .standard-details,.deluxe-details,.luxurius-details{
        position: static;        
        width: 345px;   
        
        box-shadow:none;
        border:none;
        background:none;
        padding: 0;
    }

    .room-type{
        position:absolute;
        top:-53px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;

        color: #33373D;
        margin-bottom:57px;
    
    }
    .room-type:after{
        content: '';
        width: 63px;
        height: 0px;
        border: 3px solid #F8885A;
    }
        
    
    .room-description{
    margin-top:78px;
    margin-bottom:12px;
    font-size: 18px;
    width:100%;
    height:108px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.6);
    
    padding:0;
    
    }
    .room-price{
    position:absolute;
    width: 137px;
    height: 66px;
    left: 138px;
    top: 187px;
    padding:20px 12px 19px  12px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #F8885A;
        }
    .btn-book-now{
    width: 149px;
    height: 51px;
    background: linear-gradient(180deg, #F8885A 0%, #EB4501 100%);
    border:none;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    }
    .deluxe{
        z-index:1;
        position: absolute;
        width: 870.92px;
        height: 620px;
        left: -180.2px;
        top: 990.92px;

        background: rgba(248, 136, 90, 0.07);
        transform: rotate(7.87deg);

    }


    .call-to-action{
        display:flex;
        padding-top:79px;        
        margin-top:98px;
        
        height: 364px;
        justify-content: space-around;
        
    }
    .call-to-action h2{
    margin-bottom:22px;
    width: 287px;
    height: 70px;      
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    }
    .call-to-action p{
        width: 271px;
        height: 45px;               
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: rgba(255, 255, 255, 0.73);
        margin-bottom:34px;
    }
    .btn-cta{
              
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        width: 100px;
        height: 47px;
        
        }

        footer{
            width:100%;
            margin-top:0;
            padding:0;
        }
        .footer-wrapper{
            padding-top:22px;
            padding-bottom:9px;
            border:none;
            display: flex;
            flex-flow:column;
            
            text-align: center;
        }
        #footer-home{
        display: none;
        }
        #copyright{
            order:2;
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            margin-top:13px;
        }
        #footer-links ul{
            order:1;
            }
        
        #footer-links li{
            margin-right:29.53px;
            
        }
        #footer-links li a img{
            width:17px;
            height:17px;
        }
}