*{
    box-sizing:border-box;
	margin:0;
	padding:0;
}
header{
width:1440px;
height:348px;
background-image: url("images/hero-image.jpg");
background-position:center;
background-repeat:no-repeat;
background-color:rgba(0,0,0,0.63);
display:flex;

}
.restaurant247{
	height:456px;
	margin:75px 105px 0 105px;
	display:flex;

}
.restimg2{
    margin-right:256px;
	margin-top:-244px;
	margin-left:118px;
	border: 12px solid #FFFFFF;
}
.rest1{
	margin-left:105px;
}	
.rest2{
	float:right;
	width:483px;
	margin-left:-196px;
	padding-top:67px;
	
	
}
h4{
	font-family:poppins;
	font-size:30px;
	line-height:54px; 
	
}
h4:after{
	content:" ";
	width:55px;
	height:3px;
	display:block;
	background-color:#EB4501;
	
}
.details{
	font-family:poppins;
	font-size:18px;
	margin-top:7px;
	
}
.pool{
	height:456px;
	margin:75px 105px 0 105px;
	display:flex;
	

}

.pool1{
	padding-left:105px;
	width:483px;
	padding-top:67px;
	
}
.pool2{
	float:right;
}
.poolimg1{
	position:absolute;
	margin-top:84px;
	margin-left:104px;
	border: 8px solid #FFFFFF;
	z-index:1
}
.poolimg2{
	position:absolute;
	margin-left:184px;

}
.gym{
	height:456px;
	margin:75px 105px 0 105px;
	
}
.gymspa{
	margin-left:105px;
}	
.gym-spaimg1{
	position:absolute;
	margin-left:105px;
	
}
.gym-spaimg2{
	position:absolute;
	margin-top:165px;
	margin-left:235px;
	border: 14px solid #FFFFFF;
	z-index:1
}
.gym-spa1{
	float:left;
	width:483px;
	margin-left:596px;
	padding-top:67px;
	
}
@media  only screen (max-width:768px){
.restimg2{
	display:hi;
}	
}


768

	